<!DOCTYPE html>
<html lang="es-es">
<head>
<meta charset="utf-8"/>
<title>Ejemplo Vue</title>

<meta
  name="viewport"
  content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover"
/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
  [v-cloak] {
    display: none !important
  }
  /* Hide Vue while loading */
</style>
<link rel="stylesheet" href="/dist/style.css"/>
</head>
<body>
<div id="app-container">
</div>
<script src="/dist/script.js"></script>
</body>
</html>